/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(99, 0, 0, 0.5)),
    url('../assets/assets/images/HD-wallpaper-bob-esponja-mafioso-bob-esponja-gangster-mafioso-meme-thumbnail.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.about{
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.9));
    max-width: 800px;
    margin: auto;
    padding: 20px;




}

.iconos-sociales {
    width:48px;
}